<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="YiBaoConfigJsonPath" value="E:\Projects\YiBaoPay\YiBaoPay.Test\data\config.json"/>
    <add key="YiBaoConfigPath" value="E:\Projects\YiBaoPay\YiBaoPay.Test\data\config.bin"/>
  </appSettings>
</configuration>
